.contacts {
  padding-top: 50px;
  padding-bottom: 87px;
  position: relative;
}

.contacts-block {
  position: absolute;
  left: 10%;
  bottom: 20%;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 39px;
  padding-left: 34px;
  padding-right: 34px;
}

.contacts-block__title {
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}
.contacts-block__dark {
  display: block;
  color: #000;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}
